nav ul
{
	margin: 0;
	padding: 0;
	border: 0;
	display: inline;
	color: yellow;
}

.col
{
	background:rgb(255, 255, 255);
	float: left;
	width: 31%;
	margin: 1%;
	border-radius: 20px;
	text-align: center;
}

/* Organize from this point down the page. */
/*DEFAULT*/
body
{
	background: rgb(0, 0, 0);
	font-family: 'Times New Roman';
	margin: 0;
}

/*TITLE*/
header
{
	background: rgb(0, 0, 0);
	color: white;
}

header h1
{
	display: inline-block;
	text-align: center;
	margin: 20px 20px 30px 5px;
	padding: 5px 20px 30px 5px;
}

/*NAV HYPERLINK*/
h2 li a
{
	color: rgb(255, 255, 255);
	text-decoration: none;
}

/*NAV TEXT*/
h2 li 
{
	list-style-type: none;
	display: inline-block;
	padding: 5px 5px 0px 5px;
	font: arial;
}
/*NAV PICTURE*/
nav img
{
	margin: 20px 0px 10px 20px;
	width: 5%;
	height: auto;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
}

/*MAIN*/
main
{
	color: white;
	text-align: center;

	padding: 300px;
	background-image: url(https://static.vecteezy.com/system/resources/previews/023/061/180/large_2x/galaxy-space-wallpaper-in-the-style-of-dark-violet-and-light-violet-realistic-usage-of-light-and-color-richly-colored-skies-realistic-textures-generat-ai-free-photo.jpg);
}

/*FOOTER*/
footer p
{
	clear: both;
	background: black;
	color: white;
	text-align: center;
	padding: 0px 0px 200px 0px;
}

footer p u
{
	color: lightblue;
}
