.home
{
  height: 100vh;
  background-color: rgb(249, 249, 249);
  display: flex;
  align-items: center;
}

.main-content
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 300px;
}

.text-container
{
  height: auto;
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  margin-top: 140px;
  margin-left: 200px;
}
.title-container
{
  font-weight: 700;
  font-size: 55px;
  color:rgb(50, 51, 56);

}
.subtitle-container
{
  margin-top: 30px;
  font-weight: 400;
  font-size: 25px;
  width: 400px;
}

.image-container
{
  margin-top: 150px;
}

.image-container img
{
  width: 200px;
  border-radius: 200px;
}
.stack
{
  margin-top: 100px;
  margin-left: 500px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  white-space: nowrap;
}

.icon-container
{
  margin-left: 30px;
  box-shadow: 0px 0px 6px rgb(30, 0, 43);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.stack img
{
  width: 30px;
  padding: 15px;
}

.pipe
{
  margin-left: 20px;
  font-size: 30px;
  margin-bottom: 35px;
  color: rgb(50, 51, 56);
}

.pfp
{
  box-shadow: 0px 0px 8px rgb(30, 0, 43);
}

